@charset "utf-8";

#home
header{
   background-color: white
}
　main{
     background-color: white
　　　　}
#home a:link { color: #1b2538; }
#home a:visited { color: #1b2538; }

.ringo {
  background: url("./assets/images/isikiri-1.jpg")center center / cover no-repeat fixed;;

}
h1{
  background-color: #1b2538;
  color:white
}

h2{
   color:#1b2538
}
h3{
   color:white
}
footer{
     background-color: #1b2538
　　　　}
img{
  max-width: 100%;
  height: auto;
}


h2{
  clear: both;
}
figure.gazou{
  float: left;
  padding-right: 100px;
}
figure.gazou2{
  float:  left;
  padding-right: 20px;
}

.cp_menu {
	max-width: 360px;
	margin: 0 auto;
	padding: 0;
}
.cp_menu a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #000000;
	line-height: 1;
}
.cp_menu label {
	display: block;
	position: relative;
	margin: 0 0 2px 0;
	padding: 12px;
	line-height: 1;
	color: #ffffff;
	background: #1b2538;
	cursor: pointer;
}
.cp_menu label::before {
	position: absolute;
	content: '▼';
	color: #ffffff;
	right: 0.5em;
	top: 25%;
}
.cp_menu input {
	display: none;
}
.cp_menu ul {
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	list-style: none;
}
.cp_menu li {
	overflow-y: hidden;
	max-height: 0;
	transition: all 0.5s;
}

.cp_menu li a:hover,
.cp_menu li span{
  background-color:#c0c0c0;
}
/*リストが増えたらULごとに追加してください*/
#cp_menu_bar1:checked ~ #link1 li,
#cp_menu_bar2:checked ~ #link2 li {
	max-height: 46px;
	opacity: 1;
}


.btn-circle-border-double {
  display: inline-block;
  text-decoration: none;
  color:#1b2538;
  width: 130px;
  height: 130px;
  line-height: 130px;
  border-radius: 50%;
  border: double 4px white;
  text-align: center;
  overflow: hidden;
  transition: .6s;
  background-color: #1b2538;
}

.btn-circle-border-double:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
#maru a:link{
  color:white
}
#maru a:visited{
  color:white
}

#home{
  text-align: center;
  padding: 10px;
}

#home li{
  display: inline-block;
  background-color: white;
}

#home li a,
#home li span{
  font-size:20px;
  text-decoration: none;
  margin: 0 50px;
  padding-bottom: 20px;
  font-weight: bold;
}

#home li a:hover,
#home li span{
  color:#87ceeb;
}

#home li span{
  border-bottom: 5px solid </div>;
}

@media screen and (max-width:480px) {
    #home{
        padding: 10px;
    }


    #home li a,
    #home li span{
        font-size:15px;
        margin:0 10px;
    }
}


#cv{
  text-align: center;
  padding: 10px;
}

#cv li{
  display: inline-block;
  background-color: white;
}

#cv li a,
#cv li span{
  font-size:20px;
  text-decoration: none;
  margin: 0 50px;
  padding-bottom: 20px;
  font-weight: bold;
}

#cv li a:hover,
#cv li span{
  color:#87ceeb;
}

#cv li span{
  border-bottom: 5px solid </div>;
}

@media screen and (max-width:480px) {
    #cv{
        padding: 10px;
    }


    #cv li a,
    #cv li span{
        font-size:15px;
        margin:0 10px;
    }
}

#cv a:link { color: #1b2538; }
#cv a:visited { color: #1b2538; }



#sub_top{
  text-align: center;
  padding: 10px;
}

#sub_top li{
  display: inline-block;
  background-color: white;
}

#sub_top li a,
#sub_top li span{
  font-size:20px;
  text-decoration: none;
  margin: 0 50px;
  padding-bottom: 20px;
  font-weight: bold;
}

#sub_top li a:hover,
#sub_top li span{
  color:#87ceeb;
}

#sub_top li span{
  border-bottom: 5px solid </div>;
}

@media screen and (max-width:480px) {
    #sub_top{
        padding: 10px;
    }


    #sub_top li a,
    #sub_top li span{
        font-size:15px;
        margin:0 10px;
    }
#sub_top a:link { color: #1b2538; }
#sub_top a:visited { color: #1b2538; }

}
body {
    animation: fadeIn 10s ease 5s 4 normal;
    -webkit-animation: fadeIn 5s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
