@charset "utf-8";

#home header{
   background-color: white
}
#home a:link { color: #1b2538; }
#home a:visited { color: #1b2538; }
#home li+li{border-left: 2px solid #1b2538;
           }
.sample03 {
          color:#1b2538;
          font-family: 'Courier';
}

.sample03{position: relative;
  display: inline-block;
  margin: 47px 0;
  text-shadow: 0 0 2px white;
}
.sample03:before{content: "";
  position: absolute;
  background:#87cefa;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1;
}
.active {font-family: 'Courier';
}
.active2{font-family: 'Hiragino Maru Gothic ProN';}
.gazou{font-family: 'Hiragino Maru Gothic ProN';}
#sub h2{font-family: 'Courier';}
#ziko h1{font-family: 'Hiragino Maru Gothic ProN';}
#ziko h2{font-family: 'Hiragino Maru Gothic ProN';}
#ziko p{font-family: 'Hiragino Maru Gothic ProN';}
#sub h1{font-family: 'Hiragino Maru Gothic ProN';
position: relative;
 line-height: 1.4;
 padding:0.25em 1em;
 display: inline-block;
 top:0;
}

h1:before, h1:after {
 position: absolute;
 top: 0;
 content:'';
 width: 10px;
 height: 100%;
 display: inline-block;
}
h1:before {
 border-left: solid 5px #1b2538;
 border-top: solid 1px #1b2538;
 border-bottom: solid 1px #1b2538;
 left: 0;
}
h1:after {
 content: '';
 border-top: solid 1px #1b2538;
 border-right: solid 5px #1b2538;
 border-bottom: solid 1px #1b2538;
 right: 0;
}
#ziko h1{font-family: 'Hiragino Maru Gothic ProN';
position: relative;
 line-height: 1.4;
 padding:0.25em 1em;
 display: inline-block;
 top:0;
}

h1:before, h1:after {
 position: absolute;
 top: 0;
 content:'';
 width: 10px;
 height: 100%;
 display: inline-block;
}
h1:before {
 border-left: solid 5px #1b2538;
 border-top: solid 1px #1b2538;
 border-bottom: solid 1px #1b2538;
 left: 0;
}
h1:after {
 content: '';
 border-top: solid 1px #1b2538;
 border-right: solid 5px #1b2538;
 border-bottom: solid 1px #1b2538;
 right: 0;
}

body{
  background-color: white;
}
h1{color: #1b2538;
}

.ringo{ border-radius: 5px;
}
h2{
   color:#1b2538;
   clear: both;
}
h3{
   color:#1b2538
}
footer{
     background-color: #1b2538
　　　　}
img{
  max-width: 100%;
  height: auto;
}

figure.gazou{
  float: left;
  padding-right: 100px;
}
figure.gazou2{
  float:  left;
  padding-right: 20px;
}

.cp_menu {
	max-width: 360px;
	margin: 0 auto;
	padding: 0;
}
.cp_menu a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #1b2538;
	line-height: 1;
}
.cp_menu label {
	display: block;
	position: relative;
	margin: 0 0 2px 0;
	padding: 12px;
	line-height: 1;
	color: #ffffff;
	background: #1b2538;
	cursor: pointer;
}
.cp_menu label:hover{
  background-color: #4682b4
}
.cp_menu label::before {
	position: absolute;
	content: '▼';
	color: #ffffff;
	right: 0.5em;
	top: 25%;
}
.cp_menu input {
	display: none;
}
.cp_menu ul {
	margin: 0;
	padding: 0;
	background: white;
	list-style: none;
}
.cp_menu li {
	overflow-y: hidden;
	max-height: 0;
	transition: all 0.5s;
}

.cp_menu li a:hover,
.cp_menu li span{
  color:#87ceeb;
  background-color:
}
/*リストが増えたらULごとに追加してください*/
#cp_menu_bar1:checked ~ #link1 li,
#cp_menu_bar2:checked ~ #link2 li {
	max-height: 46px;
	opacity: 1;
}


.btn-circle-border-double {
  display: inline-block;
  text-decoration: none;
  color:#1b2538;
  width: 130px;
  height: 130px;
  line-height: 130px;
  border-radius: 50%;
  border: double 4px white;
  text-align: center;
  overflow: hidden;
  transition: .6s;
  background-color: #1b2538;
}

.btn-circle-border-double:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
#maru a:link{
  color:white
}
#maru a:visited{
  color:white
}

#home{
  text-align: center;
  padding: 10px;
}

#home li{
  display: inline-block;
  background-color: white;
}

#home li a,
#home li span{
  font-size:20px;
  text-decoration: none;
  margin: 0 50px;
  padding-bottom: 20px;
  font-weight: bold;
}

#home li a:hover,
#home li span{
  color:#87ceeb;
}

#home li span{
  border-bottom: 5px solid </div>;
}

@media screen and (max-width:480px) {
    #home{
        padding: 10px;
    }


    #home li a,
    #home li span{
        font-size:15px;
        margin:0 10px;
    }
}


#cv{
  text-align: center;
  padding: 10px;
}

#cv li{
  display: inline-block;
  background-color: white;
}

#cv li a,
#cv li span{
  font-size:20px;
  text-decoration: none;
  margin: 0 50px;
  padding-bottom: 20px;
  font-weight: bold;
}

#cv li a:hover,
#cv li span{
  color:#87ceeb;
}

#cv li span{
  border-bottom: 5px solid </div>;
}

@media screen and (max-width:480px) {
    #cv{
        padding: 10px;
    }

    #cv li a,
    #cv li span{
        font-size:15px;
        margin:0 10px;
    }
}
#cv a:link { color: #1b2538; }
#cv a:visited { color: #1b2538; }
#cv li+li{border-left: 2px solid #1b2538;}


#sub_top{
  text-align: center;
  padding: 10px;
}

#sub_top li{
  display: inline-block;
  background-color: white;
}

#sub_top li a,
#sub_top li span{
  font-size:20px;
  text-decoration: none;
  margin: 0 50px;
  padding-bottom: 20px;
  font-weight: bold;
}

#sub_top li a:hover,
#sub_top li span{
  color:#87ceeb;
}
#sub_top li span{
  border-bottom: 5px solid </div>;
}

@media screen and (max-width:480px) {
    #sub_top{
        padding: 10px;
    }

    #sub_top li a,
    #sub_top li span{
        font-size:15px;
        margin:0 10px;
    }
}
#sub_top a:link { color: #1b2538; }
#sub_top a:visited { color: #1b2538; }
#sub_top li+li{border-left: 2px solid #1b2538;}
body {
    animation: fadeIn 10s ease 5s 4 normal;
    -webkit-animation: fadeIn 3s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

.ringo {
    display:  block;                /* ブロック要素にする */
    margin: 0 auto;                 /* 要素中央揃え */
    position:  relative;            /* 位置指定 */
    animation: anime1 2s ease;      /* アニメーション指定 */
}

@keyframes anime1 {
    0% {
        opacity:  0;                /* 透明度指定 */
        top: 50px;                  /* 位置指定 */
    }
    100% {
        opacity:  1;                /* 透明度指定 */
        top: 0;                     /* 位置指定 */
    }
}
